 
    
    body{
        background-color: #292525;
        margin: 0%;
       
 
        
        }
    

    h1{
    margin: 0%;
        background-color: #5bccf6;
        padding: 20px 5px;
    }

    #ser{
    padding: 0px 5px 20px 5px;
        background-color: #5bccf6;
       
    }

    button{
        background-color: #292525;
        color: aliceblue;
        padding-bottom: 3px;
        margin-left: 5px;
    }



    #imgflex{
        flex-wrap: wrap;
        display: flex;
    
        flex-direction: row;
        
        padding-top:10px ;
        
        height: 500px;
        width: 225px;
        display: inline;
      
    }

    #main{
        display: flex;
    }

    .card{
        margin: 10px 15px;
    }

   
    #maindiv1{
        z-index:1; 
        overflow: hidden;
        position: sticky;
        right: 0;
        left: 0;
        top: 0; /* Position the navbar at the top of the page */
  width: 100%;
    }
   
